
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto+Condensed:ital,wght@0,700;1,300&display=swap');


 :root {
    --ColorPrincipal: #B100E8;
    --ColorSecundary : #048AFF;
    --ColorText : white;
    --fontLogo : 'Gruppo', sans-serif;
    --fontTituls : 'Gruppo', sans-serif;
    --ColorOscuro: #05001E; 
    --fontText :  'Roboto Condensed', sans-serif;
 }


 body {
    height: 100%;
    background-color: #04001E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--ColorText);
 }

.container {
    background-image: url(./multimedia/Background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 35rem;
    padding: 6.5rem;

   

 }
 .container header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 90%;
    padding: 1rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;

   
 }



.container header .logo {
    font-family: var(--fontLogo);
    color: var(--ColorText);
    font-size: 2rem;
}

.container header .navbar {
    display: flex;
    text-decoration: none;
    justify-content: center;
     list-style-type: none;
}

.container header .navbar li {
    margin-left: 3rem;
    text-decoration: none;  
    
}


.container header .navbar li a {
    text-decoration: none;
    font-family: var(--fontLogo);
    font-size: 1.4rem;
    padding: 1rem;
    color: var(--ColorText) ;
    transition: .5s;
    font-weight: bold;
}

.container header .navbar li a:hover{
    color: var(--ColorPrincipal);

}



section {
    display: flex;
    justify-content:space-between;
    margin: 3rem;
}


section div h1  {
    font-size:  5rem;
    font-family: var(--fontText);
    margin-bottom: 0;
    color: var(--ColorSecundary);
}

section div h2 {
    margin: 0;
    font-size: 4rem;
    font-family: var(--fontText);
    font-style: italic;
    font-weight: bold;
    letter-spacing: .8rem;
    color: var(--ColorPrincipal);

}

section div p {
    font-family: var(--fontLogo);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

section .box {
    width: 18.5rem;
    height: 21rem;
    background: rgb(177,0,232);
    background: linear-gradient(90deg, rgba(177,0,232,1) 0%, rgba(4,138,255,1) 17%, rgba(177,0,232,1) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


section .box img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 4px solid #2B1511;
    
}


section .redes {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
   padding: 1rem;
}

section .redes a  {
    color: var(--ColorText);
    font-size: 2rem;
    margin: 10px;
    transition: .5s;
    
}

section .redes a:hover{
    color: var(--ColorSecundary);
}


/* projects  */


.projects {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects h2 ,.about h2 , .contact h2{
    font-family: var(--fontLogo);
     font-size: 4rem;
    color: var(--ColorPrincipal);
}

.proyectsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.projects .box {
    background-color: var(--ColorText);
    width: 15rem;
    margin: 2rem;
    text-align: center;
    box-shadow: 1px 1px 10px var(--ColorPrincipal);
    border-radius: 1rem; 
    height: 20rem;
    transition: .5s;
}

.projects .box:hover {
    width: 17rem;
    height: 22rem;
}

.projects .box p {
    padding: 1rem;
    color: var(--ColorOscuro);
    font-family: var(--fontText);
}



.projects .box img {
    width: 100%;
    border-radius: 1rem;
    height: 50%;

}

.projects .box div a {
    color: var(--ColorSecundary);
    font-size: 2rem;
    padding: 1rem;
    transition: .5s;
}


.projects .box div a:hover{
    color: var(--ColorOscuro);
}



/* about */

.about {
    background-image:  url(./multimedia/backprojects.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.about .box {
    width: 70%;
    border: 5px solid var(--ColorPrincipal);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 4rem;
    margin-top: 2rem;
    transition: .5s;
    margin-bottom: 7rem;
   
}

.about .box:hover{
    width: 75%;
}

.about .box h3 {
    color: var(--ColorSecundary);
    font-family: var(--fontLogo);
    font-size: 2rem;
    font-style: italic;
    
}


.about  div { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.about .box  li{
    list-style: none;
    margin-top: 0.5rem;
    font-family: var(--fontText);
    font-size: 1.4rem;
}


.habilities img {
    width: 7rem;
}




/* contact */

.contact {
    align-items: center;
    justify-content:center;
    flex-direction: column;
}


.contact form {
    background-color: transparent;
    width: 65%;
    padding: 2rem;
    border-radius:4rem ;
    border: 5px solid var(--ColorPrincipal);
}

.contact form label {
    font-family: var(--fontLogo);
    color: var(--ColorSecundary);
    font-size: 2rem;
    font-style: italic;
    
    
}
.contact form input {
    font-family: var(--fontText);
    height: 2rem;
    width: 100%;
    margin: 1rem 0 1rem 0;
     border-radius: 0.5rem;
    border: none;
    transition: .5s;
}


.contact form textarea {
    width: 100%;
    height: 8rem;
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
    font-family: var(--fontText);
    border: none;
    transition: .5s;
}


.contact form textarea:hover, .contact form input:hover {
    background-color: var(--ColorOscuro);
    color: white;
    border: 0.5px solid var(--ColorPrincipal);
}






.contact form .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact form .btn button {
    height: 3rem;
    width: 80%;
    font-family: var(--fontText);
    color: var(--ColorOscuro);
    background-color: var(--ColorSecundary);
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    transition: .5s;
}


.contact form .btn button:hover{
    color: var(--ColorPrincipal);
    background-color: white;
}




.success {
    color: green;
    text-align: center;
    font-family: var(--fontLogo);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}













