
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto+Condensed:ital,wght@0,700;1,300&display=swap');


 :root {
    --ColorPrincipal: #B100E8;
    --ColorSecundary : #048AFF;
    --ColorText : white;
    --fontLogo : 'Gruppo', sans-serif;
    --fontTituls : 'Gruppo', sans-serif;
    --ColorOscuro: #05001E; 
    --fontText :  'Roboto Condensed', sans-serif;
 }


 body {
    height: 100%;
    background-color: #04001E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--ColorText);

 }

.container {
    background-image: url(./multimedia/Background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
    padding: 9rem;

   

 }
 .container header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 90%;
    padding: 1rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;

   
 }




.container header .logo {
    font-family: var(--fontLogo);
    color: var(--ColorText);
    font-size: 2rem;
    position: relative;
}


.container header .logo::before{
    content:  "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ColorOscuro);
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}





.container header .navbar {
    display: flex;
    text-decoration: none;
    justify-content: center;
     list-style-type: none;
}

.container header .navbar li {
    margin-left: 3rem;
    text-decoration: none;  
    
}

.bandera {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: .3s;
}

.bandera:hover{
    width: 2.2rem;
    height: 2.2rem;
}


.container header .navbar li a {
    text-decoration: none;
    font-family: var(--fontLogo);
    font-size: 1.4rem;
    padding: 1rem;
    color: var(--ColorText) ;
    transition: .5s;
    font-weight: bold;
    position: relative;
}

.container header .navbar li a::before {
    content:  "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ColorOscuro);
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}



.container header .navbar li a:hover{
    color: var(--ColorPrincipal);

}

.nav_toggle {
    display: none;
}



section {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 3rem;
}


section div h1  {
    font-size:  5rem;
    font-family: var(--fontText);
    margin-bottom: 0;
    color: var(--ColorSecundary);
    position: relative;
}

section div h1::before{
    content:  "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ColorOscuro);
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}




section div h2 {
    margin: 0;
    font-size: 6rem;
    font-family: var(--fontText);
    
    color: transparent;
    position: relative;
    -webkit-text-stroke: 2px var(--ColorPrincipal);
    background-image: linear-gradient(var(--ColorPrincipal), var(--ColorSecundary));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0  ;
    animation: homeBgText 7s linear infinite ;
    animation-delay:2s ;
}




section div p {
    font-family: var(--fontLogo);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    position: relative;
}

section div p::before{
    content:  "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ColorOscuro);
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s; 
}

section .box {
    position: relative;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-spin{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid  var(--ColorPrincipal);
    border-bottom: .2rem solid var(--ColorPrincipal) ;
    border-left: .2rem solid var(--ColorSecundary) ;
    border-right: .2rem solid var(--ColorSecundary) ;
    animation: aboutSpinner 5s linear infinite;

}


section .box img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    
}


section .redes {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
   padding: 1rem;
}

section .redes a  {
    color: var(--ColorText);
    font-size: 2rem;
    margin: 10px;
    transition: .5s;
    
}

section .redes a:hover{
    color: var(--ColorSecundary);
}


/* projects  */


.projects {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects h2 ,.about h2 , .contact h2{
    font-family: var(--fontLogo);
     font-size: 4rem;
    color: var(--ColorPrincipal);
}

.proyectsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.projects .box {
    background-color: var(--ColorText);
    width: 18rem;
    margin: 2rem;
    text-align: center;
    box-shadow: 1px 1px 10px var(--ColorPrincipal);
    border-radius: 1rem; 
    height: 21rem;
    transition: .3s;
}

.projects .box:hover {
    width: 18.5rem;
    height: 22rem;
}

.projects .box p {
    padding: 1rem;
    color: var(--ColorOscuro);
    font-family: var(--fontText);
}



.projects .box img {
    width: 100%;
    border-radius: 1rem;
    height: 50%;

}

.projects .box div a {
    color: var(--ColorSecundary);
    font-size: 2rem;
    padding: 1rem;
    transition: .5s;
}


.projects .box div a:hover{
    color: var(--ColorOscuro);
}



/* about */

.about {
    background-image:  url(./multimedia/backprojects.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.about .box {
    width: 70%;
    border: 2px solid var(--ColorPrincipal);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 4rem;
    margin-top: 2rem;
    transition: .5s;
    margin-bottom: 7rem;
   
   
}

.about .box:hover{
     padding: 1.7rem;
}

.about .box h3 {
    color: var(--ColorSecundary);
    font-family: var(--fontLogo);
    font-size: 2rem;
    font-style: italic;
    
}


.about  div { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.about .box  li{
    list-style: none;
    margin-top: 0.5rem;
    font-family: var(--fontText);
    font-size: 1.4rem;
}


.habilities img {
    width: 7rem;
}




/* contact */

.contact {
    align-items: center;
    justify-content:center;
    flex-direction: column;
}


.contact form {
    background-color: transparent;
    width: 65%;
    padding: 2rem;
    border-radius:4rem ;
    border: 2px solid var(--ColorPrincipal);
}

.contact form label {
    font-family: var(--fontLogo);
    color: var(--ColorSecundary);
    font-size: 2rem;
    font-style: italic;
    
    
}
.contact form input {
    font-family: var(--fontText);
    height: 2rem;
    width: 100%;
    margin: 1rem 0 1rem 0;
     border-radius: 0.5rem;
    border: 0.5px solid transparent;
    transition: .5s;
}


.contact form textarea {
    width: 100%;
    height: 8rem;
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
    font-family: var(--fontText);
    border: none;
    transition: .5s;
}


.contact form textarea:hover, .contact form input:hover {
    background-color: var(--ColorOscuro);
    color: white;
    border: 0.5px solid var(--ColorPrincipal);
}






.contact form .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact form .btn button {
    height: 3rem;
    width: 80%;
    font-family: var(--fontText);
    color: var(--ColorOscuro);
    background-color: var(--ColorSecundary);
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    transition: .5s;
}


.contact form .btn button:hover{
    color: var(--ColorPrincipal);
    background-color: white;
}




.success {
    color: green;
    text-align: center;
    font-family: var(--fontLogo);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}




/* RESPONSIVE DESING  */

@media screen and (max-width: 400px) {
    .contact form {
        width: 90%;
    }

     .projects .box{
        width: 70%;        
     }

     .projects .box:hover{
        width: 70%;
        height: 22rem;
     }
}


@media screen and (max-width: 769px) {   
    
    body{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }

    .container header {
        position: fixed;
        z-index: 9999;
    }
  
  .container header .navbar li a {
        margin-bottom: 1rem;
    }

    .container header .navbar{
        position: absolute;
        top: 90px;
        left: 0;
        background-color: var(--ColorSecundary);
         flex-direction: column;
        width: 100%;
        height: 12rem;
        transform: translateX(-100%);
        transition: .3s ease all;
        margin: 0;
        padding: 0;
         position: absolute;
         z-index: 9999;
       
    }


    .container header .navbar.open {
        transform: translateX(0) !important;
       
    }
      

    .nav_toggle {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    .nav_toggle span{
      width: 30px;
      height: 4px;
      background-color: white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin:5px 0px ;
      transition: all 0.2s linear;
      
    }



    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);

    }

    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }



    /* fin header */

    section {
       
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 3rem;
        position: relative;
    }

    

    section div  h1{
       font-size: 2.5rem;
    
    }

    section div h2 {
        font-size: 2.3rem;
    }

    section div p {
        font-size: 1.5rem;
    }
    section .box {
        width: 11rem;
        height: 11rem;
        margin: 1rem;
    }

    .projects {
        margin-top: 25rem;
    }

      .projects h2, .about h2 , .contact h2{
        font-size: 2.5rem ;
    }



    /* fin .projects */

    .about {
        margin-top: 25rem;
    }

    .about .box li {
        font-size: 1rem;
    
         margin-bottom: 2rem;
    }

.about .box ul:nth-child(2) li:nth-child(1){
    margin-bottom: 5rem;
}

.about .box ul:nth-child(2) li:nth-child(2){
    margin-bottom: 4.3rem; 
}

.about .box ul:nth-child(2) li:nth-child(3){
    margin-bottom: 4.3rem; 
}


.about .box .habilities{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
    gap: 2rem;
}




/* fin about  */

.contact form label {
    font-size: 1.3rem;
}




    

    

}




@keyframes homeBgText {
    0%,
    10%,
    100%{
        background-position: -53rem 0 ;
    }

    65%,
    85%{
        background-position: 0 0;
    }
}



 @keyframes showRight {
    100%{
      width: 0;
    }  
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}





